.plus {
  &__item {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;

    &_last {
      margin-bottom: 0;
    }

    @media @screen-gt-s {
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 20px;
    background: url(plus.svg) no-repeat;

    @media @screen-gt-s {
      margin-right: 10px;
    }

    @media @screen-gt-m {
      width: 50px;
      min-width: 50px;
      height: 50px;
      margin-right: 30px;
      background-size: cover;
    }

    &_support {
      background-position-y: 0;
    }

    &_return {
      background-position-y: -40px;

      @media @screen-gt-m {
        background-position-y: -50px;
      }
    }

    &_delivery {
      background-position-y: -80px;

      @media @screen-gt-m {
        background-position-y: -100px;
      }
    }
  }
}