.downloads {
  display: flex;
  margin-top: 30px;

  @media @screen-gt-s {
    justify-content: right;
    margin-top: 0;
  }

  &__item {
    width: 140px;
    height: 40px;
    background: url(downloads.svg) no-repeat;

    &:not(:last-child) {
      margin-right: 10px;

      &:hover {
        margin: -1px 9px -1px -1px;
      }
    }

    &:hover {
      margin: -1px;
      border: 1px solid #CCC;
      border-radius: 2px;
    }

    &_app {
      background-position-x: 0;
    }

    &_play {
      background-position-x: -140px;
    }
  }
}